html {
    height: auto;
    width: 100%;
}

body {
    background-attachment: fixed;
}

img {
    height: auto;
    width: 100%;
    max-width: 600px;
}

.image {
    height: auto;
    width: 50%;
}

.center {
    text-align: center;
}

.h-1, .h-2 {
    font-family: "JetBrains Mono", monospace, sans-serif;
    font-weight: 700;
    color: white;
}

.h-1 {
    font-size: 72px;
    margin: 3%;
}

.h-2 {
    font-size: 36px;
}
